.mobile-nav {
  display: block;
  width: 100%;
  float: left;
  height: 65px;
}

.mobile-nav-col {
  display: block;
  float: left;
  width: 33.33333%;
  height: 65px;
  line-height: 2em;
  font-size: 30px;
}

.mobile-nav-col i {
  color: #777;
  font-size: 26px;
}

.mobile-nav-col-left {
  padding-left: 20px;
}

.mobile-nav-col-center {
  padding-top: 12px;
}

.mobile-nav-col-right {
  padding-right: 20px;
}

.mobile-nav-col ul {
  float: right;
}

.mobile-nav-col ul li {
  display: inline-block;
  float: left;
  margin-left: 15px;
}

.mobile-nav-logo {
  height: 40px;
  display: block;
  margin: 0 auto;
}

.mobile-sub-header {
  display: block;
  width: 100%;
  float: left;
  height: 50px;
  background-color: #0099dc;
  padding-top: 10px;
  text-align: center;
}

.mobile-sub-link {
  font-size: 13px;
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .mobile-nav, .mobile-sub-header {
    display: none;
  }
}

.top-container {
  display: none;
}

.mainNav {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .top-container {
    display: block;
    background-color: #0099DC;
    width: 100%;
    height: 50px;
    position: relative;
    float: left;
  }
  
  .top-swiper-container {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    background-color: #0099DC;
  }
  
  .top-swiper-container:hover {
    background-color: #3B3B3B;
  }
  
  .top-swiper-container .swiper-wrapper .swiper-slide {
    color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    line-height: 50px;
    background-color: #0099DC;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
  }
  
  .top-swiper-container .swiper-wrapper .swiper-slide:hover {
    background-color: #3B3B3B;
  }
  
  .top-swiper-container a:hover {
    text-decoration: none;
  }
  
  .mainNav {
    display: block;
    width: 100%;
    margin: 0 auto;
    float: left;
  }
  
  .topMenu {
    display: block;
    width: 100%;
    max-width: 2400px;
    margin: 0 auto;
    height: 30px;
    padding: 15px 30px;
  }
  
  .topMenu-left, .topMenu-right {
    display: inline-block;
    width: 50%;
    height: 30px;
    float: left;
  }
  
  .topMenu-right ul {
    float: right;
    list-style-type: none;
  }
  
  .topMenu-right ul li {
    float: left;
    display: inline-block;
  }
  
  .topMenu-right ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
  }
  
  .american-flag {
    width: 30px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  .awards {
    display: block;
    float: left;
    margin-top: 15px;
    height: 50px;
    opacity: 0.6;
    margin-right: 20px;
  }
  
  .awards-2 {
    margin-top: 10px;
  }
  
  .topMenu-left img:hover {
    opacity: 1;
  }
  
  .topMenu span {
    font-size: 12px;
    font-weight: 700;
    color: #777;
  }
  
  .mainMenu-container {
    display: block;
    width: 100%;
    float: left;
    position: relative;
  }
  
  .mainMenu {
    display: block;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .mainMenu ul li {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.5s;
    padding: 0px;
  }
  
  .mainMenu ul li:first-child {
    margin-left: 0px;
  }
  
  .mainMenu .dealer-login {
    background-color: #0099dc;
    color: #fff;
    cursor: pointer;
    border-radius: 0px;
    margin-left: 30px;
    transition: 0.5s ease all;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    position: absolute;
    width: 140px;
    height: 40px;
    line-height: 3em;
    margin-top: -20px;
  }
  
  .mainMenu .dealer-login:hover {
    background-color: #2475AB;
  }
  
  .main-logo {
    display: inline-block;
    width: 180px;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: -45px;
  }
  
  .mainMenu-logo {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
  }
  
  .mainMenu-logo span {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 15px;
    display: block;
    color: #444;
    width: 200px;
    margin: 0 auto;
  }
  
  .mainMenu-logo a:hover {
    text-decoration: none;
  }
  
  .topMenu-right ul li {
    padding: 0px 30px;
    border-left: 2px solid #ccc;
  }
  
  .topMenu-right ul li:last-child {
    padding-right: 0px;
  }
  
  .topMenu-right ul li a {
    font-size: 11px;
    color: #555;
  }
  
  .topMenu-right ul li a:hover {
    color: #111;
  }
  
  .topMenu-right ul li i {
    display: block;
    text-align: center;
    font-size: 16px;
  }
  
  .social-media-header {
    display: block;
    float: right;
    margin-top: 15px;
  }
  
  .social-media-header ul li {
    display: inline-block;
    float: left;
    margin-left: 30px;
    font-size: 24px;
  }
  
  .social-media-header ul li a {
    color: #0099dc;
    transition: 0.3s ease all;
  }
  
  .social-media-header ul li a:hover {
    color: #2475AB;
  }
  
  .sub-menu {
    display: block;
    width: 1000px;
    margin: 0 auto;
    height: 150px;
    text-align: center;
    padding-top: 0px;
    transition: 0.5s ease all;
  }
  
  .sub-menu .subMenuLinks {
    display: inline-block;
    margin: 0px 20px;
    color: #000;
    transition: 0.5s ease all;
  }
  
  .sub-menu .subMenuLinks:hover {
    color: #0099dc;
    text-decoration: none;
  }
  
  .sub-menu .subMenuLinks .subMenu-spas {
    display: block;
    height: 65px;
    margin: 0 auto;
  }
  
  .sub-menu .subMenuLinks .subMenu-category {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    /*border-radius: 50%;*/
    object-fit: contain;
    /*border: 1px solid #f1f1f1;*/
  }
  
  .outline-icons .subMenuLinks .subMenu-category {
    padding: 5px;
  }
  
  .sub-menu .subMenuLinks .subMenu-title {
    display: block;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
    width: 120px;
    height: 40px;
    float: left;
  }
  
  /********************************************************
  
  menu
  
  *********************************************************/

  .menu__list {
      position: relative;
      display: -webkit-block;
      display: block;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: 80px;
      padding: 0;
      list-style: none;
  }

  .menu__item {
      display: block;
      margin: 0;
  }

  .menu__link {
      font-size: 1.05em;
      font-weight: 600;
      display: block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .menu__link:hover,
  .menu__link:focus {
      outline: none;
      text-decoration: none;
  }

  /* Individual styles */

  /* Prospero */
  .menu--prospero .menu__link {
      position: relative;
      display: block;
      margin: 0 1.5em;
      padding: 0.75em 0;
      text-align: center;
      color: #b5b5b5;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
      letter-spacing: 0.08em;
  }

  .menu--prospero .menu__link:hover,
  .menu--prospero .menu__link:focus {
      color: #929292;
  }

  .menu--prospero .menu__item--current .menu__link {
      color: #0099dc;
  }
  
  .menu--prospero .menu__item--not .menu__link {
      color: #0099dc;
  }

  .menu--prospero .menu__link::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: #0099dc;
      -webkit-transform: scale3d(0, 1, 1);
      transform: scale3d(0, 1, 1);
      -webkit-transition: -webkit-transform 0.1s;
      transition: transform 0.1s;
  }

  .menu--prospero .menu__item--current .menu__link::before {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
  }


  /* Stack items for smaller screens */
  @media screen and (max-width:55em) {
      .menu__list {
          display: block;
          margin: 0 auto;
      }
  }

  
  
  
  
  
  
  
  
  
  
  
  
}