body {
  font-family: Ubuntu, Arial, sans-serif;
  margin: 0;
}

p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  padding: 0;
  min-height: 450px;
  overflow: hidden;
  position: relative;
  background: #fff;
}

.work-header {
  top: 0;
  left: 0;
  background-image: url('../images/work-background.jpeg');
  -webkit-background-position: center;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.illuminate-header {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../images/illuminate-bg.jpg');
  -webkit-background-position: center;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.illuminate-logo {
  height: 50px;
}

.beacon-header {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('../images/beacon-header.jpg');
  -webkit-background-position: center;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.grey {
  background-color: #f1f1f1;
}

.light-grey {
  background-color: #EBEFF2;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  align-items: center;
  padding: 8px 20px;
}

.logo a {
  font-weight: 700;
  font-size: 0.8rem;
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 364px) {
  .logo a {
    font-size: 1.2rem;
  }
}

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
}

.nav li a {
  color: #333;
  font-size: .5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 20px;
  letter-spacing: 0.18em;
  text-decoration: none;
  transition: 0.2s ease all;
}

@media screen and (min-width: 364px) {
  .nav li a {
    font-size: .8rem;
  }
}

.nav li a:hover {
  color: #5CA17C; /*non-webkit fallback*/
  text-transform: uppercase;
  background: -webkit-linear-gradient(45deg, rgba(0,133,202,1) 0%, rgba(0,169,190,1) 25%, rgba(0,179,167,1) 51%, rgba(0,172,182,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: .2em;
  margin-bottom: 0;
  background-size: 200% auto;
}

.focus {
  color: #5CA17C; /*non-webkit fallback*/
  text-transform: uppercase;
  background: -webkit-linear-gradient(45deg, rgba(0,133,202,1) 0%, rgba(0,169,190,1) 25%, rgba(0,179,167,1) 51%, rgba(0,172,182,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: .2em;
  margin-bottom: 0;
  background-size: 200% auto;
  font-weight: 400;
}

@media only screen and (min-width: 540px) {

}

@media only screen and (min-width: 768px) {
  
  .illuminate-logo {
    height: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-container {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.inline {
  display: inline-block;
  width: 40px;
  float: left;
  font-size: 24px;
  margin-top: 20px;
}

.fa-facebook {
  color: #4267B2;
}

.fa-linkedin {
  color: #0077B5;
}

.heading {
  max-width: 400px;
  text-align: center;
  margin: 60px auto;
}

.heading h1 {
  padding: 0 5rem;
}

.beacon-heading h1 {
  padding: 0 1rem;
}

.heading p {
  padding: .5rem 1rem;
}

@media only screen and (min-width: 768px) {
  .heading {
    max-width: 640px;
  }
  .heading h1 {
    padding: 0;
  }

  .heading p {
    padding: 0;
  }
}

.heading h1 {
  font-size: 30px;
  margin-bottom: 0px;
}

@media only screen and (min-width: 768px) {
  .heading h1 {
    font-size: 40px;
  }
}

.heading p {
  font-size: 1em;
  font-weight: 300;
  margin: 5px auto;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .heading p {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 35px;
    line-height: 2.2rem;
  }
}

@media only screen and (min-width: 1320px) {
  .heading {
    max-width: 1000px;
    margin: 100px auto;
  }
  
  .heading p {
    max-width: 680px;
    margin: 16px auto 56px auto;
    font-size: 1.3em;
  }
}

/**** Scrolling Background ****/
@-webkit-keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -320px;
  }
}
@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -320px;
  }
}

.top {
  top: 0;
  left: 0;
  background-color: #fff;
  /*background-image: url('../images/background.png');*/
  -webkit-background-position: center;
  background-position: center;
  -webkit-background-size: 500px;
  background-size: 500px;
  -webkit-animation: scrollBackground 15s linear infinite;
  animation: scrollBackground 15s linear infinite;
}

.button {
  padding: 15px 20px;
  background: rgba(59,173,227,1);
  background: linear-gradient(45deg, rgba(0,133,202,1) 0%, rgba(0,169,190,1) 25%, rgba(0,179,167,1) 51%, rgba(0,172,182,1) 100%);
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  min-width: 150px;
  background-size: 200% auto;
  transition: 0.5s;
  text-align: center;
  border-radius: 2px;
}

.button:hover {
  background-position: right center;
}

.gradient {
  color: #5CA17C; /*non-webkit fallback*/
  text-transform: uppercase;
  background: -webkit-linear-gradient(45deg, rgba(0,133,202,1) 0%, rgba(0,169,190,1) 25%, rgba(0,179,167,1) 51%, rgba(0,172,182,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: .2em;
  margin-bottom: 0;
  background-size: 200% auto;
  transition: 0.5s;
}

.gradient:hover {
  background-position: right center;
}

.light {
  font-weight: 200;
}

.section-container {
  display: block;
  width: 100%;
  padding: 32px 24px;
  float: left;
}

.col {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 0px;
  text-align: left;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 400;
  
}

@media only screen and (min-width: 1024px) {
  .section-container {
    width: 100%;
    margin: 0 auto;
    padding: 60px 40px;
    float: none;
  }
  
  .col-left {
    padding-right: 20px;
    float: left;
  }
  
  .col-right {
    padding-left: 20px;
    float: right;
  }
  
  h2 {
    font-size: 38px;
  }
  
  .detail {
    font-size: 18px;
    width: 650px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1320px) {
  .section-container {
    width: 100%;
    padding: 100px 0px;
  }

  .black-section {
    min-height: 30rem;
  }

  .override-padding {
    padding-top: 0;
  }

  .footer-container {
    padding: 40px 0;
  }

  .col {
    max-width: 1000px;
  }
}


#about-me {
  display: block;
  overflow: auto;
}


.skills {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.skill {
  margin-top: 30px;
  text-align: left;
  background: #fff;
  padding: 20px;
}

.skill ul {
  margin: 10px 0 00;
  padding: 0;
}

.skill ul li {
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.8em;
}

.masonry {
  column-count: 1;
  column-gap: 0;
  margin-left: -10px;
}

.masonry-mt {
  margin-top: 16px;
}

.preview {
  display: block;
  width: 100%;
  height: auto;
  text-align: left;
}

.project, .half-col {
  break-inside: avoid;
  padding: 10px;
}

.project-content {
  display: block;
  background-color: #fff;
  text-align: left;
  padding: 40px 20px 0 20px;
}

.beacon-bg {
  background: #081C5A;
}

.project-content h3, p {
  color: #000;
}

.project-img {
  width: 100%;
}

.view-project {
  font-size: 13px;
  letter-spacing: 0.1em;
  border-bottom: 1px solid #4BC6B9;
  border-bottom-style: dotted;
}

.case-study {
  text-align: left;
}

.p-link {
  text-transform: none;
}

@media only screen and (min-width: 768px) {
  .skill {
    text-align: left;
  }
  
  #about-me {
    padding-bottom: 50px;
  }
}

.masonry .project h3, .masonry .half-col h3 {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 1.2rem;
}

.masonry .project p, .grid-wrapper p, .masonry .half-col p {
  font-weight: 200;
  margin-top: 5px;
  font-size: 1rem;
  line-height: 1.8em;
}

@media only screen and (min-width: 768px) {
  .skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .skills .skill .fa {
    text-align: center;
  }
  
  .skill {
    width: 32%;
    float: left;
  }
  
  .masonry {
    column-count: 2;
  }
  
  .project {
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  }
  
  .project:hover {
    transform: scale(1.03);
  }
  
  h2 {
    font-size: 1.3rem;
  }

  .case-study {
    padding-right: 24px;
  }
}

.work-btn {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
  border-bottom-style: dotted;
  width: 110px;
}

.container {
  margin: 0 auto;
  width: 100%;
  background: #444753;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.gradient-background {
  background: -webkit-linear-gradient(45deg, rgba(0,133,202,1) 0%, rgba(0,169,190,1) 25%, rgba(0,179,167,1) 51%, rgba(0,172,182,1) 100%);
  padding: 40px 0;
}

#contact h2 {
  text-align: center;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 0px;
}

#contact p {
  color: #fff;
  font-weight: 200;
  text-align: center;
  margin: 10px 0px;
}

#contact p a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  display: block;
  margin-left: -10px;
  margin-top: 15px;
}

.footer {
  padding: 30px 0;
}

.footer img {
  width: 50px;
  display: block;
  margin: auto;
}

.footer ul {
  text-align: center;
  padding: 0px;
  margin-top: 40px;
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
  line-height: 2em;
}

.footer p {
  text-align: center;
  font-weight: 200;
  font-size: 1em;
  letter-spacing: .05em;
}

.footer p a, .section-container a {
  color: #07caa6;
  text-decoration: none;
}

.outline {
  display: block;
  max-width: 160px;
  margin-top: 32px;
}


@media only screen and (min-width: 1024px) {
  
  .footer {
    padding: 30px 0;
  }
  .footer ul li {
    display: inline-block;
    margin-right: 40px;
  }
  
  .footer ul li a {
    font-size: 22px;
  }
  
  .footer ul li:last-child {
    margin-right: 0px;
  }
  
  .footer p {
    display: block;
    font-size: 14px;
    margin-top: 20px;
  }
  
  #contact h2 {
    font-size: 40px;
  }

  .gradient-background {
    padding: 10px 0;
  }
}

section {
  width: 100%;
  float: left;
}

.white {
  color: #fff !important;
}

.black {
  color: #000 !important;
}

.black-section {
  background: #000;
}

.white-section {
  background: #fff;
}

.align-left {
  text-align: left;
}

.bold {
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 0;
}

@media only screen and (min-width: 1024px) {
  .bold {
    font-size: 2em;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.img, .right-img {
  width: 100%;
  margin-top: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.center-block {
  max-width: 600px;
  margin: 0 auto;
}

.center-block h4 {
  margin-top: 32px;
}

.center-block p {
  margin-top: 8px;
}

.center-block .button {
  display: block;
  margin: 80px auto 20px auto;
}

.personas {
  width: 100%;
  margin-top: 24px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
  }

  .black-section {
    overflow: hidden;
    width: 100%;
  }

  .img-container {
    position: relative;
  }
}

@media screen and (min-width: 900px) {
  .right-img {
    width: 1200px;
    margin: 0;
    position: absolute;
    right: -38rem;
    top: -1rem;
  }

  .iphone-right-img {
    width: 600px;
    right: -10rem;
    top: -5rem;
  }
}

@media screen and (min-width: 1200px) {
  .img {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
  }

  .mt-24 {
    margin-top: 4rem;
  }

  .mb-24 {
    margin-bottom: 3rem;
  }

  .personas-container {
    display: block;
    margin-top: 5rem;
  }

  .xl-container {
    margin-top: 2rem;
  }

  .xl-container img {
    max-width: 90%;
  }

  .personas {
    margin-bottom: 2rem;
  }
}

.white-header-container {
  height: 65vh;
  position: relative;
}

.beacon-svg {
  max-width: 160px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .white-header-container {
    height: 100vh;
  }

  .beacon-svg {
    max-width: 600px;
    position: absolute;
    left: 3rem;
    right: 0;
    bottom: -1.5rem;
  }
}

.car-driving {
  width: 100%;
  height: 140px;
  object-fit: cover;
  object-position: 0 100%;
  position: absolute;
  bottom: 1rem;
}

@media screen and (min-width: 366px) {
  .car-driving {
    height: 170px;
    bottom: 6%;
  }
}

@media screen and (min-width: 768px) {
  .car-driving {
    height: 360px;
  }

  .video-prototype {
    max-height: 800px;
  }
}

@media screen and (min-width: 900px) {
  .car-driving {
    height: 500px;
    bottom: 0;
  }
}

.tools {
  height: 1.3em;
  display: block;
  margin-top: 1.1rem;
}

.problem {
  color: #fff;
  font-weight: 300;
  padding: 0;
  line-height: 1.8rem;
  margin-left: 1rem;
}






























