body {
  min-height: 1500px;
}

.main-title-container {
  position: absolute;
  top: 35%;
  left: 35%;
}

#main-title {
  text-align: center;
  font-family: 'Century Schoolbook', sans-serif; font-style: italic; 
}

#main-title-2 {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 900;
  text-transform: uppercase;
  margin-top: -15px;
  font-size: 52px;
}

#main-title-3 {
  margin: 0 auto;
  text-align: center;
  margin-top: -10px;
  width: 430px;
}

#green-section {
  min-width: 100%;
  height: 4500px;
  background-color: rgb(230, 245, 176);
  text-align: center;
  z-index: 1;
}

.garden {
  margin-top: 300px;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 3;
}

#background-trees {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

#adam {
  display: inline-block;
  position: absolute;
  width: 150px;
  left: 37%;
  bottom: 16%;
  overflow: hidden;
  z-index: 5;
}

#eve {
  display: inline-block;
  position: absolute;
  width: 150px;
  left: 27%;
  bottom: 16%;
  overflow: hidden;
  z-index: 5;
}

#satan {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  width: 200px;
  z-index: 5;
}

#garden-text {
  display: block;
  position: fixed;
  top: 10%;
  right: 4%;
  text-align: right;
  width: 400px;
}

#black-section {
  min-width: 100%;
  height: 2000px;
  background-color: #2b0037;
  text-align: center;
}








/****************************************************

MEDIA QUERIES

****************************************************/

@media (max-width: 768px) {
  
  #main-title {font-size: 24px;}
  #main-title-2 {font-size: 35px;}
  #main-title-3 {width: 300px;
  }
  
}