body {
  font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  text-align: center;
  margin: 0;
  font-family: 'Lora', serif;
  font-style: italic;
}

p {
  font-size: 14px;
  margin: 0;
}

.btn {
  border-radius: 0;
  padding: 10px 20px;
}

input {
  border-radius: 0!important;
}

.main-header-img-container {
  display: block;
  float: left;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
}

.main-header-img {
  display: block;
  width: 100%;
  max-width: 2400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-image: url('http://calspas.com/img/Cal-Spas-Home-Page-Hero-1-mobile.jpg');
  background-size: cover;
}

.dealer-locator-img {
  background-image: url('http://calspas.com/img/Cal-Spas-Find-a-Dealer-mobile.jpg')
}

@media screen and (min-width: 768px) {
  .main-header-img {
    background-image: url('http://calspas.com/img/Cal-Spas-Home-Page-Hero-1-tablet.jpg');
  }
  
  .dealer-locator-img {
    background-image: url('http://calspas.com/img/Cal-Spas-Find-a-Dealer-tablet.jpg')
  }
}

@media screen and (min-width: 1024px) {
  .main-header-img {
    background-image: url('http://calspas.com/img/Cal-Spas-Home-Page-Hero-1.jpg');
  }
  
  .dealer-locator-img {
    background-image: url('http://calspas.com/img/Cal-Spas-Find-a-Dealer.jpg');
  }
}

.second-slide-img {
  background-image: url('http://calspas.com/img/category/veranda-series-category-full-screen.jpg');
}

/*@media screen and (min-width: 768px) {
  .second-slide-img {
    background-image: url('../img/Cal-Spas-Home-Page-Hero-1-tablet.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .second-slide-img {
    background-image: url('../img/Cal-Spas-Home-Page-Hero-1.jpg');
  }
}*/

.third-slide-img {
  background-image: url('http://calspas.com/img/LA-Fair.JPG');
}

/*@media screen and (min-width: 768px) {
  .third-slide-img {
    background-image: url('../img/Cal-Spas-Home-Page-Hero-1-tablet.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .third-slide-img {
    background-image: url('../img/Cal-Spas-Home-Page-Hero-1.jpg');
  }
}*/



.main-header-img-container .swiper-button-next, .swiper-button-prev {
  top: 50%;
  background-size: 14px 25px;
}

.main-header-img-container .swiper-pagination {
  bottom: 20px;
}

.main-header-title {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
  background-color: #000;
  padding: 15px;
  margin-top: 100px;
}

.main-header-img h1 {
  font-family: 'Lora', serif;
  color: #fff;
  font-style: italic;
  text-align: center;
  font-size: 26px;
  text-shadow: 1px 1px #000;
  margin-bottom: 0px;
  font-weight: 300;
  text-transform: none;
}

.main-header-img h3 {
  text-align: center;
  font-size: 14px;
  margin-top: 0px;
  color: #EABA6B;
  font-weight: 300;
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .main-header-title {
    width: 350px;
    margin-top: 160px;
  }
  
  .main-header-img h1 {
    font-size: 45px;
  }
  
  .main-header-img h3 {
    font-size: 16px;
    margin-top: 4px;
  }
}

.btn-header {
  display: block;
  width: 120px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 0px;
  padding: 15px;
}


@media screen and (min-width: 1024px) {
  .main-header-img-container .swiper-button-next, .swiper-button-prev {
    background-size: 14px 25px;
    background-color: #fff;
    padding: 15px 20px;
  }
}

.main-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.consumer-affairs {
  display: block;
  width: 60%;
  margin: 0 auto;
  z-index: 1;
  text-align: center;
  margin-top: 120px;
}

@media screen and (min-width: 768px) {
  .consumer-affairs {
    width: 400px;
  }
}

.full-container {
  width: 100%;
  float: left;
  padding: 60px 20px;
  background-color: #fff;
}

.spa-series-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  .full-container {
    padding: 100px 20px;
  }
  .spa-series-container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
  }
  
  h1 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 20px;
  }
}

.spa-series-container a {
  text-decoration: none;
  color: #fff;
}

.spa-series-card {
  display: inline-block;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .spa-series-card {
    width: 320px;
  }
}

.spa-series-card img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.spa-series-card h2 {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  max-width: 190px;
  background-color: #fff;
  padding: 20px 0px;
  position: relative;
  margin-top: -20px;
  transition: 0.5s ease all;
  background-color: #0099DC;
  border: 1px solid #0099DC;
}

.spa-series-container h2:hover {
  background-color: #fff;
  color: #0099DC;
  border: 1px solid #0099DC;
}

.spa-series-card .featured {
  background: #2475AB;
  border: 1px solid #2475AB;
}

.featured-title {
  display: block;
  color: #fff;
  background: #222;
  position: absolute;
  width: 100%;
  padding: 10px;
  text-align: center;
  transition: 0.5s ease all;
}

.featured-title:hover {
  background: #FFC311;
}

.line {
  width: 120px;
  border-color: #FFC311;
}

.full-width-container {
  display: block;
  float: left;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  position: relative;
  z-index: -2;
}

.u-pack-container {
  background: url('http://calspas.com/img/Cal-Spas-why-cal-spas.jpg');
  min-height: 400px;
}

.u-pack {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 20px 100px 20px;
  z-index: 1;
}

.u-pack p {
  margin-bottom: 10px;
}

.u-pack-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.u-pack img {
  display: inline-block;
  width: 30%;
  height: 20%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .full-width-container {
    padding: 60px 0px 140px 0px;
  }
  .u-pack, .u-pack h1 {
    max-width: 1000px;
    text-align: left;
  }
  .u-pack-text {
    display: block;
    width: 400px;
    float: left;
  }
  .u-pack-img {
    width: 500px;
    float: right;
  }
}

.white-overlay {
  background: #fff;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.color-bar-container {
  background: #0099DC;
  padding: 40px;
}

.color-bar {
  display: block;
  width: 100%;
  padding: 0px 20px;
  text-align: center;
}

.brochure-spa {
  display: block;
  width: 120px;
  margin: -70px auto 20px auto;
}

.color-bar-container h4 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.color-bar-container h3 {
  color: #011627;
}

.color-bar .btn-brochure {
  margin-top: 20px;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.4s ease all;
}

.color-bar .btn-brochure:hover {
  border: 1px solid #2475AB;
  background: #2475AB;
}

@media screen and (min-width: 1024px) {
  .color-bar {
    width: 1000px;
    text-align: left;
    margin: 0 auto;
  }
  
  .brochure-spa-container {
    display: block;
    width: 250px;
    float: left;
  }
  
  .color-bar-container h4 {
    font-size: 30px;
  }
  
  .brochure-spa {
    width: 100%;
    margin-top: -90px;
  }
  
  .brochure-spa-text {
    display: block;
    width: 700px;
    float: right;
    padding-left: 60px;
  }
  
  .brochure-spa-text h4, .brochure-spa-text h3 {
    text-align: left;
  }
}

.company-overview-container {
  background: url('http://calspas.com/img/Cal-Spas-backgroundshot.jpg');
  padding: 40px;
}

.company-overview {
  padding: 40px 20px;
  background-color: #fff;
  max-width: 360px;
  margin: 0 auto;
}

.company-overview h1 {
  font-size: 22px;
}

.company-overview a {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 220px;
}

@media screen and (min-width: 1024px) {
  .company-overview-container {
    padding: 100px 0px;
  }
  
  .company-overview {
    max-width: 800px;
    padding: 40px;
  }
  
  .company-overview h1 {
    font-size: 40px;
  }
}

.social-media-container {
  background-color: #f1f1f1;
}

.social-media {
  display: block;
  width: 100%;
  padding: 20px;
}

.social-media-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.social-media-card {
  display: block;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.social-media-card h1 {
  color: #0099DC;
}

@media screen and (min-width: 768px) {
  .social-media-card {
    width: 32%;
  }
}

@media screen and (min-width: 1224px) {
  .social-media {
    width: 1200px;
    margin: 0 auto;
  }
  
  .social-media-card {
    width: 380px;
  }
}


.mobile-footer-container {
  display: block;
  width: 100%;
}

.footer-container {
  display: none;
}



@media screen and (min-width: 1024px) {
  .mobile-footer-container {
    display: none;
  }
  .footer-container {
    display: block;
    float: left;
    width: 100%;
    background: #222;
  }
  .footer {
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding: 60px 0px;
  }
  .footer-col {
    display: block;
    width: 230px;
    float: left;
    padding-right: 50px;
  }
  
  .footer-offers-col {
    width: 300px;
    float: right;
  }
  
  .footer-col h3 {
    color: #FFC311;
    text-align: left;
  }
  
  .footer-col p {
    color: #fff;
    font-size: 13px;
  }
  
  .footer-link {
    font-size: 13px;
    color: #fff;
  }
  
  #exclusiveoffers {
    margin-top: 10px;
  }
  
  .industry-awards-container, .footer-bottom-container {
    display: block;
    width: 100%;
    float: left;
  }
  
  .industry-awards, .footer-bottom {
    display: block;
    width: 1000px;
    margin: 0 auto;
  }
  
  .industry-awards ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .industry-awards ul li {
    display: inline-block;
  }
  
  .industry-awards ul li a {
    opacity: 0.7;
  }
  
  .industry-awards ul li a:hover {
    opacity: 1;
  }
  
  .industry-awards img {
    height: 60px;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 20px 0px 40px 0px;
    color: #fff;
  }
  
  .footer-bottom ul {
    display: flex;
    width: 300px;
    margin: 30px auto;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .footer-bottom ul li {
    display: inline-block;
  }
  
  .footer-bottom ul li a i {
    color: #fff;
    font-size: 30px;
  }
  
  .footer-bottom p {
    margin-top: 30px;
  }
  
}

.dealer-locator {
  margin-top: -50px;
}




























