* {
    font-family: 'Radikal', sans-serif;
    scroll-behavior: smooth;
}

body, a {
    color: #343434;
}

h2 {
    font-weight: 400;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;

}

.top-header {
    border-bottom: 1px solid #eee;
    padding: 1.2rem;
}

.two-col ul {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1rem;
    list-style-type: none;
    padding: 0;
}

.top-spacing {
    padding-top: 1rem;
}

.right {
    float: right;
}

.img {
    width: 100%;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 6.5rem;
}

nav {
    display: none;
    border-bottom: 1px solid #eee;
    height: 80px;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

span {
    display: inline;
    margin-right: 2rem;
}

.two-col-2 ul {
    display: grid;
    grid-template-columns: 2fr 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 1.8rem;
}

.show {
    display: block !important;
}

.sticky-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.summary {
    height: 100vh;
}

